<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>

		{% block head %}

			{{ include('layouts/partials/style.twig') }}

			<title>
				{% block title %}{% endblock %} - {{ getenv('CI_NAME') }}
			</title>

		{% endblock %}

	</head>

	<body class="hold-transition login-page">
		<div>
			{% block content %}{% endblock %}
		</div>

		{{ include('layouts/partials/script.twig') }}
	</body>
</html>
