{% extends "layouts/dashboard.twig" %}

{% block title %} Welcome {% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <h1>Welcome</h1>
{% endblock %}

{% block content %}

    <div class="box box-primary">
        <div class="box-header with-border">
            The page you are looking at is being generated dynamically by CodeIgniter.
        </div>

		<div class="box-body">
			<p>If you would like to edit this page you'll find it located at:</p>
            <div class="alert alert-info">
                application/welcome/views/welcome.twig
            </div>
			
            <p>The corresponding controller for this page is found at:</p>
            <div class="alert alert-info">
                application/welcome/controllers/Welcome.php
            </div>

			<p>If you are exploring CodeIgniter for the very first time, you should start by reading the <a href="https://codeigniter.com/userguide3/">User Guide</a>.</p>
		</div>
	</div>
{% endblock %}